<md-card class="component" flex="75" ng-init="isEmpty = $ctrl.fireObjectContact.$value === null">
  <ng-form ng-submit="$ctrl.onSubmit(contactForm)"  class="" name="contactForm">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Nuevo Contacto</span>
      <span class="md-subhead">Small</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-sm card-media" style="
  background-color: #999999;"></div>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <pre>{{$ctrl.modifiedContact | json}}</pre>

      <div layout-gt-sm="row">
        <md-input-container>
          <label>Name</label>
          <input name="name" ng-model="$ctrl.modifiedContact.name" value="">
        </md-input-container>

        <md-autocomplete flex required
            md-input-name="state"
            md-input-minlength="2"
            md-input-maxlength="18"
            md-no-cache="$ctrl.noCache"
            md-selected-item="$ctrl.state"
            md-selected-item-change="$ctrl.modifiedContact.state = $ctrl.state.value"
            md-search-text="$ctrl.searchText"
            md-items="item in $ctrl.querySearch($ctrl.searchText)"
            md-item-text="item.display"
            md-require-match
            md-floating-label="Favorite state">
          <md-item-template>
            <span md-highlight-text="$ctrl.searchText">{{item.display}}</span>
          </md-item-template>
          <div ng-messages="contactForm.autocompleteField.$error" ng-if="contactForm.autocompleteField.$touched">
            <div ng-message="required">You <b>must</b> have a favorite state.</div>
            <div ng-message="md-require-match">Please select an existing state.</div>
            <div ng-message="minlength">Your entry is not long enough.</div>
            <div ng-message="maxlength">Your entry is too long.</div>
          </div>
        </md-autocomplete>
      </div>
            <pre ng-if="debug">{{contactForm.autocompleteField | json}}</pre>

  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="debug = !debug">Debug</md-button>
    <input class="md-button"  type="reset"/>
    <md-button class="md-primary md-raised" ng-click="$ctrl.onSubmit(contactForm)" type="submit">Create</md-button>
  </md-card-actions>
</form>
</md-card>
