<div class="component" layout="column" layout-fill flex=100 >
<md-card>
  <h2>{{$ctrl.text}}</h2>
  <section>
    <md-subheader class="md-warn">Late Messages</md-subheader>
    <md-list>
      <md-list-item ng-repeat="task in $ctrl.list as results">
        <span flex>{{task.name}} </span> <span flex> {{  task.lastModified | moment }} </span>
        <md-checkbox class="md-secondary" ng-model="task.done"></md-checkbox>
      </md-list-item>
      <md-list-item ng-if="results.length === 0">
        <p> No hay elementos </p>
      </md-list-item>
    </md-list>
  <section>
  <md-button class="md-fab"
  ng-click="$ctrl.showModalCreateTask()"
  aria-label="Añadir tarea">
  <md-icon>add</md-icon>
  </md-button>
</div>
<div style="visibility: hidden">
  <div class="md-dialog-container" id="myStaticDialog">
    <md-dialog aria-label="Nueva Tarea" flex>
      <form novalidate ng-cloak name="newTaskForm" ng-submit="$ctrl.submitNewTask(newTaskForm)">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Nueva Tarea</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.$mdDialog.cancel()">
              <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content">
            <md-input-container>
              <label>Title</label>
              <input name="name" ng-model="$ctrl.newTask.name" required="true">
              <div ng-messages="newTaskForm.name.$error && newTaskForm.name.$invalid" multiple md-auto-hide="true">
                <div ng-message="required">
                  Por favor introduzca un mensage.
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <md-checkbox name="done" ng-model="$ctrl.newTask.done">
                Done
              </md-checkbox>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row">
          <!-- <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
            More on Wikipedia
          </md-button> -->
          <span flex></span>
          <md-button  ng-click="$ctrl.$mdDialog.cancel()">
           Cancel
          </md-button>
          <md-button  class="md-primary md-raised" type="submit">
            Create
          </md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>
  </div>
</div>
</md-card>
