<md-card class="component">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{$ctrl.text}}</span>
      <span class="md-subhead">Subheader con informacion util</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-sm card-media"></div>
    </md-card-title-media>
  </md-card-title>
  <md-card-content layout="column" layout-align="space-between">
    <md-input-container md-no-float class="md-block">
      <md-icon>search</md-icon>
      <input ng-model="$ctrl.query" ng-change="$ctrl.search($ctrl.query)" type="text" placeholder="Search">
    </md-input-container>
  </md-card-content>
  <section class="virtualRepeatdemoInfiniteScroll">
    <md-list>
      <md-virtual-repeat-container id="vertical-container">
        <md-list-item md-virtual-repeat="item in $ctrl.fiteredInfiniteItems" flex>
          <md-truncate flex="30"> {{ item.name }} </md-truncate>
          <md-truncate flex="10"> {{ item.prioridad }} </md-truncate>
          <md-truncate flex="20">{{ item.displayName }}</md-truncate>
          <span flex="5" layout>
            <img ng-show="item.photoURL" ng-src="{{item.photoURL}}" style="height: 32px;border-radius:50%">
          </span>
          <span flex="5" flex-grow="0">
            <md-checkbox flex="5" flex-grow="0" ng-show="item.done !== undefined" class="md-secondary" ng-model="item.done">
            </md-checkbox>
          </span>
        </md-list-item>
      </md-virtual-repeat-container>
    </md-list>
  </section>
  <md-button class="md-fab"
    ng-click="$ctrl.showModalCreateTask()"
    aria-label="Añadir tarea"
    style="
      position: fixed;
      top: 20px;
      right: 50px;
    ">
      <md-icon>add</md-icon>
  </md-button>
</div>
<div style="visibility: hidden">
  <div class="md-dialog-container" id="myStaticDialog">
    <md-dialog aria-label="Nueva Tarea" flex-gt-sm="75" flex-gt-md="50" flex-xs="90">
      <form novalidate ng-cloak name="newTaskForm" ng-submit="$ctrl.submitNewTask(newTaskForm)">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Nueva Tarea</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.$mdDialog.cancel()">
              <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content">
            <md-input-container>
              <label>Task</label>
              <input name="name" ng-model="$ctrl.newTask.name" required="true">
              <div ng-messages="newTaskForm.name.$error && newTaskForm.name.$invalid" multiple md-auto-hide="true">
                <div ng-message="required">
                  No se ha definido ninguna tarea.
                </div>
              </div>
            </md-input-container>
            <div layout style="align-items: center;">
              <div flex="15">
                <label>Prioridad:    </label>
              </div>
              <md-slider flex md-discrete ng-model="$ctrl.newTask.prioridad" step="5" min="0" max="100" aria-label="prioridad">
              </md-slider>
              <md-input-container flex=10>
                <input type="number" ng-model="$ctrl.newTask.prioridad" aria-label="prioridad" aria-controls="prioridad-slider">
              </md-input-container>
           </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
          <!-- <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
            More on Wikipedia
          </md-button> -->
          <span flex></span>
          <md-button  type="submit" ng-click="$ctrl.$mdDialog.cancel()">
           Cancel
          </md-button>
          <md-button  class="md-primary md-raised" type="submit">
            Create
          </md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>
  </div>
</md-card-content>
</md-card>
