
<div layout="column" layout-fill flex ng-cloak>
  <md-toolbar  class="">
    <div class="md-toolbar-tools">
      <md-button ng-click="app.toggleLeft()" class="md-icon-button" aria-label="Settings">
        <md-icon>menu</md-icon>
      </md-button>
      <ui-view name='header'></ui-view>
      <md-button class="md-icon-button" aria-label="Favorite"  ng-disabled="true">
      </md-button>
      <span flex></span>
      <md-button class="md-button" aria-label="go to login" ng-if="!app.user" ui-sref="app.login" ng-bind="'login'"></md-button>
      <md-menu ng-if="app.user">
        <md-button aria-label="Open menu with custom trigger" class="md-fab md-mini" ng-click=" $mdMenu.open()">
          <img ng-src="{{app.user.photoURL}}"/>
        </md-button>
        <md-menu-content
        ng-init="menu = [{label:'Logout', icon:'account_circle'}]" ng-mouseleave="$mdMenu.close()">
        <md-menu-item ng-repeat="item in menu">
          <md-button ng-click="app.logout()" class="md-button" aria-label="{{item.label}}">
            {{item.label}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<section layout="row" flex layout-align="center">
    <md-sidenav
    class="md-sidenav-left"
    ng-init= "sidenavStyle = {}"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')">

    <!-- <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Sidenav Left</h1>
  </md-toolbar> -->

<md-content >
  <hrm-menu>
  </hrm-menu>
</md-content>
  </md-sidenav>
<md-content id="mainContent" layout="row" flex style="overflow-x: hidden">
  <!-- <div layout="column" layout-align="top center"> -->
    <ui-view name='main' flex>
      <!-- <h1>{{ app.obj.displayName }}</h1>
      <lm-text data-text="'Text Component'"></lm-text>
      <span ng-show="app.obj">
        {{ app.obj.displayName }} | <a href="#" ng-click="app.authObj.$signOut()">Sign out</a>
      </span>
      <pre>
        {{app.obj | json}}
      </pre>
      <pre>
        {{app.obj | json}}
      </pre>
      <pre>
        {{app.obj | json}}
      </pre>
      <pre>
        {{app.obj | json}}
      </pre>
      <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
      </p>
      <p>
        The right sidenav will focus on a specific child element.
      </p>

      <div>
        <md-button ng-click="app.toggleLeft()"
        class="md-primary" hide-gt-md>
        Toggle left
      </md-button>
    </div>

    <div>
      <md-button ng-click="app.toggleRight()"
      ng-hide="app.isOpenRight()"
      class="md-primary">
      Toggle right
    </md-button>
  </div> -->
</ui-view>
<!-- </div> -->
</md-content>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Sidenav Right</h1>
  </md-toolbar>
  <md-content ng-controller="RightController as RightPanel" layout-padding>
    <form>
      <md-input-container>
        <label for="testInput">Test input</label>
        <input type="text" id="testInput"
        ng-model="RightPanel.data" md-autofocus>
      </md-input-container>
    </form>
    <md-button ng-click="RightPanel.close()" class="md-primary">
      Close Sidenav Right
    </md-button>
  </md-content>

</md-sidenav>

</section>

</div>
