<md-card layout="column">
  <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Options</span>
        <span class="md-subhead" ng-bind="$ctrl.text"></span>
      </md-card-title-text>
  </md-card-title>
  <md-card-content layout="column" layout-align="space-around">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Theme</label>
      <md-select ng-model="$ctrl.theme.currentTheme">
        <md-option ng-repeat="theme in $ctrl.themes" value="{{theme}}">
          {{theme}}
        </md-option>
      </md-select>
    </md-input-container>
  </md-card-content>
<md-card>
