<ui-view md-theme="{{app.theme.currentTheme}}" md-theme-watch>
  <div class="component">
    <div layout="row" layout-align="space-around">
      <h1>{{$ctrl.text}}</h1>
    </div>
    <div layout="row" ng-cloak layout-align="space-around">
      <md-icon
      style="
      -webkit-text-fill-color: black;
      transform: scale3d(5,5,1) translateY(30px);;
      text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.31);
      ">
      cloud_download
    </md-icon>
  </div>
  <div layout="row" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</div>
</ui-view>
