  <md-content class="component" layout="row" flex="100" layout-align="space-around strech">
    <md-card layout="column" flex-xs flex-sm="75" flex-gt-sm="50">
      <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Login</span>
            <span class="md-subhead" ng-bind="login.text"></span>
          </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column" layout-align="space-around">
        <md-button flex="50"
        ng-repeat="provider in login.authProviders"
        aria-label="login with {{provider}}"
        ng-click="login.login(provider)"
        class="md-raised {{::'socicon-' + provider}} md-primary"
        layout>
          <span ng-bind="::' ' + provider" flex></span>
        </md-button>
        <md-button
        ng-click="login.auth.$signOut()"
        class="md-raised">
          <span ng-bind="::'Log Out'" flex></span>
        </md-button>

      </md-card-content>
    </md-card>
 </md-content>
