
  <md-card>
  <md-list class="md-dense md-2-line" flex>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Menu lateral</md-subheader>
    <md-divider></md-divider>
    <md-list-item
    ng-repeat="item in LeftPanel.navMenu as navMenus"
    ui-sref="{{item.state}}"
    ui-sref-active="active-state"
    ng-click="LeftPanel.close()">
      <md-icon>{{item.icon}}</md-icon>
      <p>{{item.name}}</p>
    </md-list-item>
    <md-list-item ng-if="LeftPanel.navMenu.lenght === 0">
      <p>No hay elementos de Menú</p>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
  <md-button ng-click="LeftPanel.close()" class="md-primary" hide-gt-md>
    Close Sidenav Left
  </md-button>
  <md-button ng-click="LeftPanel.log(LeftPanel.$mdMedia('gt-md'))" class="md-primary">
    mdMedia('gt-md')
  </md-button>
  <p hide show-gt-md>
    This sidenav is locked open on your device. To go back to the default behavior,
    narrow your display.
  </p>
  <md-card>
