// Import all the tools needed to customize the theme and extract parts of it
// @import 'bower_components/angular-material/angular-material.scss';
// @import 'node_modules/animate.css/animate.css'
#mainContent {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}

// Animations

//Delay o retardo entre diferentes elementos de un ng-repeat
// .ng-enter {
//     -webkit-animation: slideInRight 0.75s;
//     animation: slideInRight 0.75s;
// }
.ng-enter-stagger {
  transition-delay: 0.15s;
  animation-delay: 0.15s;
}
// Usamos este posicionamiento para facilitar las animaciones durante las
// transiciones. Ambos ui-views ocuparan el mismo espacio
md-content > ui-view {
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  &.ng-enter {
      -webkit-animation: slideInRight 0.5s;
      animation: slideInRight 0.5s;
  }
  &.ng-leave {
      -webkit-animation: slideOutLeft 0.5s;
      animation: slideOutLeft 0.5s;
  }
}

md-toolbar {
  & .ng-enter {
      -webkit-animation: slideInRight 0.25s;
      animation: slideInRight 0.25s;
  }
  & .ng-leave {
      -webkit-animation: none;
      animation: none;
  }
}

// md-sidenav.md-locked-open, md-sidenav.md-locked-open md-content {
//   background-color: inherit;
// }
// Define a mixin that accepts a theme and outputs the color styles for the component.
// @mixin lm-theme($theme) {
//   // Extract whichever individual palettes you need from the theme.
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
//   $warn: map-get($theme, warn);
//   $background: map-get($theme, background);
//   $foreground: map-get($theme, foreground);
//
// }
.md-menu .md-button img {
  position: relative;
  left: -6px;
  height: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
}
// md-sidenav.md-sidenav-left._md {
//   background-color: inherit;
//   // Use mat-color to extract individual colors from a palette as necessary.
//   hrm-menu .active-state .md-list-item-inner, hrm-menu .active-state .md-list-item-inner md-icon {
//     color: $primary;
//   }
// }
// section md-sidenav._md,section md-sidenav._md md-content {
//   background-color: inherit;
// }
//
// .md-sidenav-left md-card._md {
//   margin-right: 0px;
// }
.virtualRepeatdemoInfiniteScroll #vertical-container {
  height: 292px;
  width: 100%;
}

.virtualRepeatdemoInfiniteScroll .repeated-item {
  // border-bottom: 1px solid #d22;
  // box-sizing: border-box;
  // height: 40px;
  // padding-top: 10px;
}

.virtualRepeatdemoInfiniteScroll md-content {
  margin: 16px; }

.virtualRepeatdemoInfiniteScroll md-virtual-repeat-container {
  border: solid 1px grey; }

.virtualRepeatdemoInfiniteScroll .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  // padding-left: 16px;
}

contact {
    display: flex;
    flex-grow: 1;
}
